<!--
  ~  Copyright (c) 2000, 2021, Oracle and/or its affiliates.
  ~
  ~   Licensed under the Universal Permissive License v 1.0 as shown at
  ~   http://oss.oracle.com/licenses/upl.
  -->
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>An error occurred while processing your request.</h2>
    </hgroup>
</body>
</html>
