@model SampleApp.Models.User
<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <title>@ViewBag.Title - Sample App</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <table style="width: 100%;border-spacing:0px;">
        <tbody>
            <tr class="header">
                <td style="width: 300px;" nowrap="nowrap">
                    <table style="width: 100%;padding:5px;border:0px solid white;">
                        <tbody>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td nowrap="nowrap">&nbsp;<font class="lightTextLarge">.NET Sample Application</font>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td>&nbsp;</td>
                <td style="width: 300px;">
                    <table style="width: 100%;padding:5px;border:0px solid white;">
                        <tbody>
                            <tr>
                                <td align="left"><font class="lightTextSmall">Welcome,&nbsp;@Model.DisplayName</font></td>
                                <td align="right">
                                    <a href="/Private/Logout">
                                        <font class="lightTextLarge">Log Out</font>
                                    </a>&nbsp;
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr class="center">
                <td style="width: 300px;" valign="top">
                    <table class="leftMenu">
                        <tbody>
                            <tr>
                                @if (ViewBag.Title == "Home"){
                                    <td><font class="notSelectedTextLarge">Home</font></td>
                                }else{
                                    <td><a href="/Private/Home"><font class="darkTextLarge">Home</font></a> </td>
                                }

                            </tr>
                            <tr>
                                @if (ViewBag.Title == "My Profile"){
                                    <td><font class="notSelectedTextLarge">My Profile</font></td>
                                }else{
                                    <td><a href="/Private/MyProfile"><font class="darkTextLarge">My Profile</font></a> </td>
                                }
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td style="padding:15px;vertical-align:top;word-wrap:break-word;max-width: 300px">
                    @RenderBody()
                </td>
                <td style="width: 300px;">
                    &nbsp; <span style="font-family: Source Sans Pro,sans-serif;">
                        <br>
                    </span>
                </td>
            </tr>
            <tr class="footer">
                <td colspan="3" style="text-align: center;" nowrap="nowrap">
                    <a class="lightTextSmall" href="http://www.oracle.com/pls/topic/lookup?ctx=cpyr&amp;id=en">Copyright © 2019, Oracle and/or its affiliates. All rights reserved.</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
