@*
    Copyright (c) 2000, 2021, Oracle and/or its affiliates.

     Licensed under the Universal Permissive License v 1.0 as shown at
     http://oss.oracle.com/licenses/upl.
*@
@{
    Layout = "~/Views/Shared/PublicLayout.cshtml";
}
<table>
    <tr>
        <td>To log in using Oracle Identity Cloud Service,<br> click the icon below:&nbsp;</td>
    </tr>
    <tr>
        <td align="center">
            <a href="/Home/Oracle"><img title="Oracle Identity Cloud Service" alt="Oracle Identity Cloud Service" src="/Content/images/oracle.gif" height="40"></a>
        </td>
    </tr>
</table>
