<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <title>Node.js Sample Application</title>
    <link href="/css/sample-app.css" rel="stylesheet" type="text/css">
    <script language="javascript">
  	  function loginIDCS(){
  	  }
  	  function doLogin(){
  	  }
	  </script>
  </head>
  <body>
    <table style="width: 100%;border-spacing:0px;">
      <tbody>
        {{{body}}}
        <tr class="footer">
          <td colspan="3" style="text-align: center;" nowrap="nowrap">
            <a class="lightTextSmall" href="http://www.oracle.com/pls/topic/lookup?ctx=cpyr&amp;id=en">Copyright &copy; 2019, Oracle and/or its affiliates. All rights reserved.</a>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
