<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <title>Node.js Sample Application</title>
    <link href="/css/sample-app.css" rel="stylesheet" type="text/css">
    <script language="javascript">
  	  function loginIDCS(){
  		    alert('Logging in with Oracle Identity Cloud Service credentials!');
  	  }
  	  function doLogin(){
  		    alert('Logging in to the Sample Application!');
  		    //window.open('http://www.google.com.br');
  		    window.location='/private/home';
  	  }
	  </script>
  </head>
  <body>
    <table style="width: 100%;border-spacing:0px;">
      <tbody>
        <tr class="header">
          <td style="width: 300px;" nowrap="nowrap">
            <table style="width: 100%;padding:5px;border:0px solid white;">
              <tbody>
                <tr>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td nowrap="nowrap">&nbsp;<font class="lightTextLarge">Node.js Sample Application</font>&nbsp;</td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                </tr>
              </tbody>
            </table>
          </td>
          <td>&nbsp;</td>
          <td style="width: 300px;">
            <table style="width: 100%;padding:5px;border:0px solid white;text-align:center">
              <tbody>
                <tr>
                {{#ifequals title 'Login'}}
                  <td><a href="/"><font class="lightTextLarge">Index</font></a></td>
                  <td><font class="lightTextLarge">|</font></td>
                  <td><a href="/about"><font class="lightTextLarge">About</font></a></td>
                {{else ifequals title 'About'}}
                  <td><a href="/login"><font class="lightTextLarge">Log in</font></a></td>
                  <td><font class="lightTextLarge">|</font></td>
                  <td><a href="/"><font class="lightTextLarge">Index</font></a></td>
                {{else}}
                  <td><a href="/login"><font class="lightTextLarge">Log in</font></a></td>
                  <td><font class="lightTextLarge">|</font></td>
                  <td><a href="/about"><font class="lightTextLarge">About</font></a></td>
                {{/ifequals}}
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr class="center">
          <td style="width: 300px;">&nbsp; </td>
          <td style="padding: 15px;vertical-align:top;">
              {{{body}}}
            </td>
          <td style="width: 300px;">&nbsp; <span style="font-family: &quot;Source Sans Pro&quot;,sans-serif;"><br>
          </span>
          </td>
        </tr>
        <tr class="footer">
          <td colspan="3" style="text-align: center;" nowrap="nowrap">
            <a class="lightTextSmall" href="http://www.oracle.com/pls/topic/lookup?ctx=cpyr&amp;id=en">Copyright © 2015, 2017, Oracle and/or its affiliates. All rights reserved.</a>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
