<font class="darkTextSmall">
      <p>About:</p>
      <p>This Sample application was created to help you working with Oracle Identity Cloud Service SDK.</p>
      <p>You can find more information on Oracle Identity Cloud Service <a

          href="https://cloud.oracle.com/identity" target="blank">here</a>.</p>
      <p>You can also access tutorials, REST API documentation, videos and books from <a

          href="http://docs.oracle.com/en/cloud/paas/identity-cloud/index.html"

          target="blank">here</a>.</p>
    </font>
