<!--
  ~  Copyright (c) 2000, 2021, Oracle and/or its affiliates.
  ~
  ~   Licensed under the Universal Permissive License v 1.0 as shown at
  ~   http://oss.oracle.com/licenses/upl.
  -->
<font class="darkTextSmall">
  <p>This is the <b>Home Page</b> of the Oracle Identity Cloud Service's Java SDK Sample Application.</p>
  <p>Click <b>My Profile</b> on the left menu to display more details about the logged in user.</p>
</font>
