<font class="darkTextSmall">
  <p>This is the <b>Home Page</b> of the Oracle Identity Cloud Service's Java SDK Sample Application.</p>
  <p>Click <b>My Profile</b> on the left menu to display more details about the logged in user.</p>
</font>
