<!-- <font class="darkTextSmall">
  <p>Provide your credential to access<br>private content:</p>
  </font>
  <form class="customform" name="login" action="" method="post">
  <table><tr>
    <td width="25%">&nbsp;</td>
    <td width="50%">
    <input name="username" placeholder="Email" type="text">
      <p><input name="password" placeholder="Password" type="password"></p>
    </td>
    <td width="25%">&nbsp;</td>
    </tr>
    <tr>
    <td width="25%">&nbsp;</td>
    <td width="50%" align="right"><button onclick="doLogin();">Log In</button></td>
    <td width="25%">&nbsp;</td>
    </tr>
  </table>
  </form>
      <p>
      <table>
        <tr>
          <td>or You can log in with&nbsp;</td>
          <td><a href="/auth/oracle">
          <img title="Oracle Identity Cloud Service" alt="Oracle Identity Cloud Service" src="/images/oracle.gif" height="40px"></a>
          </td>
        </tr>
      </table> -->

    <table>
      <tr>
          <td>To log in using Oracle Identity Cloud Service,<br> click the icon below:&nbsp;</td>
      </tr>
      <tr>
        <td align="center"><a href="/auth/oracle"><img title="Oracle Identity Cloud Service" alt="Oracle Identity Cloud Service" src="images/oracle.gif" height="40px"></a>
        </td>
      </tr>
    </table>
