.credential-input {
  margin-bottom: 4px;
  vertical-align: middle;
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  text-align: left;
  color: rgba(0,0,0,.8);
  background-color: #fcfcfd;
  border-style: solid;
  border-color: #e5e6e6;
  border-width: 1px 1px 1px 1px;
  border-radius: 2px;
  display: inline-block;
  font-size: 1rem;
  height: 2.28571rem;
}

.credential-input::placeholder {
  color: rgba(0,0,0,.55);
  opacity: 1;
  font-style: italic;
}

.credential-input-container {
  padding-top: 24px;
}

.credential-label {
  color: #1e2834;
  cursor: default;
}

.credential-input-container.inline {
  align-items: center;
  justify-content: center;
  display: inline-flex;
  width: 100%;
}

/*Inefficient override selector...*/
.credential-input-container.nopad {
  padding: 0px;
}

/*Sign-In Options is intended for kmsi and device trust */
.sign-in-options-container {

}

.sign-in-options-container.inline {
  align-items: center;
  justify-content: left;
  display: inline-flex;
  width: 100%;
}

.credential-input.inline-right {
  width: 100%;
  margin: 0;
  margin-left: 5px;
}

.credential-input.inline-left {
  width: auto;
  margin: 0;
  margin-right: 5px;
}

.alternate-action-text {
  cursor: pointer;
  color: #02629f;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}