.selection-list {
  margin-top: 20px;
  margin-bottom: 20px;
  overflow-y: auto;
}

.selection-item{
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: #cccccc;
  padding: 10px;
  cursor: default;
  display: flex;
  align-content: center;
  min-height: 24px;
}

.selection-item.redwood:hover{
  background-color: #f5f9fd;
}

.selection-item:hover{
  background-color: #f2f2f3;
}