.username-password-container{
  padding: 0;
}

.update-password-container{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.password-policy-rules-container{
  padding: 24px;
}

.password-policy-rule{
  padding-bottom: 6px;
}

.password-policy-rule svg{
  padding-right: 3px;
}