/* Tab Content - menucool.com */
ul.tabs
{
    padding: 8px 0;
    font-size: 0;
    margin:0;
    list-style-type: none;
    text-align: center; /*set to left, center, or right to align the tabs as desired*/
    border:1px solid #663300;
    border-bottom:none;
    background:#BBBBBB;
}
        
ul.tabs li
{
    display: inline;
    margin: 0;
    margin-right:-1px; /*distance between tabs*/
}
        
ul.tabs li a
{
    font: normal 12px Verdana;
    text-decoration: none;
    position: relative;
    padding: 8px 20px;
    border: 1px solid #663300;
    border-right:none;
    color: #000;
    background: #FFF;
    outline:none;
} 
       
ul.tabs li:last-child a
{
    border-right:1px solid #663300;
} 
        
ul.tabs li a:visited
{
    color: #000;
}
        
ul.tabs li a:hover
{
    text-decoration: none;
    color:#888;
}
        
ul.tabs li.selected a, ul.tabs li.selected a:hover
{
    position: relative;
    top: 0px;
    font-weight:bold;
    background: #663300;
    color:White;
}
        
        
ul.tabs li.selected a:hover
{
    text-decoration: none;
}

div.tabcontents
{
    border: 1px solid #663300;
    border-top: 2px solid #663300;
    padding: 30px;
    background-color:#FFF;
}