.squaredFour {
  width: 20px;
  position: relative;
  margin: 20px auto;
  label {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background: #fcfff4;
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    border-radius: 4px;
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    &:after {
      content: '';
      width: 9px;
      height: 5px;
      position: absolute;
      top: 4px;
      left: 4px;
      border: 3px solid #333;
      border-top: none;
      border-right: none;
      background: transparent;
      opacity: 0;
      transform: rotate(-45deg);
    }
    &:hover::after {
      opacity: 0.5;
    }
  }
  input[type=checkbox] {
    visibility: hidden;
    &:checked + label:after {
      opacity: 1;
    }
  }    
}
		.wrapper {
			margin-right: 100px;
			height: 200px;
		}
		.content {
			float: left;
			margin-left: 450px;
		}
		.sidebar {
			float: left;
			margin-left: 100px;
		}
		.cleared {
			clear: both;
		}
		.rcorner2 {
			border-radius: 25px;
			background: #DFDEDD;
			padding: 10px;
			width: 55%;
			height: 12px;
		}

		.rcorner3 {
			border-radius: 5px;
			background: #DFDEDD;
			padding: 10px;
			width: 55%;
			height: 12px;
		}

		.rcorner {
			border-radius: 25px;
			background: #DFDEDD;
			padding: 20px;
			width: 55%;
			height: 20px;
		}

		.pad {
			padding: 5px;
		}

		.button {
			background-color: gray; /* Green */
			border: thin;
			color: white;
			padding: 5px 40px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 14px;
			margin: 4px 2px;
			cursor: pointer;
			border-radius: 8px;
		}

		.textstyle {
			font-family: "Tahoma";
		}

		.round {
			border-radius: 8px;
			outline: none;
		}