<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>SignInServlet</servlet-name>
        <jsp-file>/signin.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>index</servlet-name>
        <jsp-file>/login.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>oracle.custom.ui.servlet.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsentPage</servlet-name>
        <jsp-file>/consent.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Error</servlet-name>
        <jsp-file>/rerror.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignInServlet</servlet-name>
        <url-pattern>/signin/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/index/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsentPage</servlet-name>
        <url-pattern>/consent/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Error</servlet-name>
        <url-pattern>/error/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
