              <tbody>
                <tr>
                  <td><a href="/home"><font class="darkTextLarge">Home</font></a></td>
                </tr>
                <tr>
                  <td><a href="/myProfile/"><font class="darkTextLarge">My Profile</font></a> </td>
                </tr>
                <tr>
                  <td><a href="/appDetails/"><font class="darkTextLarge">App Details</font></a> </td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                </tr>
              </tbody>
