<td><a href="/login/"><font class="lightTextLarge">Log in</font></a></td>
<td><font class="lightTextLarge">|</font></td>
<td><a href="/about/"><font class="lightTextLarge">About</font></a></td>

<!--
<td><a href="login/"><font class="lightTextLarge">Index</font></a></td>
<td><font class="lightTextLarge">|</font></td>
<td><a href="about/"><font class="lightTextLarge">About</font></a></td>


<td><a href="login/"><font class="lightTextLarge">Log in</font></a></td>
<td><font class="lightTextLarge">|</font></td>
<td><a href="about/"><font class="lightTextLarge">Index</font></a></td>
-->